/* contenedor para peliculas recomendadas */
.container_recomended_movies {
    display:flex;
    overflow-x: auto;
    margin-bottom: 90px;
}

.element_movie_recomended {
    border-radius:10px;
    background: rgba(19,19,19,0.6);;
    margin:10px;
    padding:12px 10px 10px 10px;
}

.element_movie_recomended > img {
    width:180px;  /* Este valor deberia cambiar segun si pantalla de movil o pantalla de pc */
    border:0px;
    border-radius:7px;
    margin-bottom: 7px;
}

.element_movie_recomended > div {
    color:#999;
    font-size:12px;
}
