<div class="container_general_navbar_page">
    <nav class="navbar navbar-expand-lg navbar-dark navbar_main_page">
        <div class="container">
            <a class="navbar-brand" href="#"><b>Gufly</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Peliculas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Series</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled" tabindec="-1" aria-disabled="true">Reportajes</a>
                    </li>
                </ul>

                <div class="d-flex">
                    <img src="./assets/image/default_user.png" style="width:30px; height:30px; border-radius: 50%;">
                </div>
            </div>
        </div>
    </nav>

    <app-findinput></app-findinput>
</div>

<router-outlet></router-outlet>

