<div class="container">
    <div class="row">
        <div class="col-xl-2 col-lg-1"></div>
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-12">
            <nav class="navbar navbar-light">
                <form class="container-fluid" style="padding: 0px;">
                    <div class="input-group search_main_page_movie">
                        <input type="text" class="form-control" placeholder="Duro de Cuidar" #inputsearch (change)="search_movie(inputsearch.value)">
                        <div class="input-group-text" style="background:#232323; border:0px; color:#ddd" (click)="search_movie(inputsearch.value)">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </form>
            </nav>
        </div>
        <div class="col-xl-2 col-lg-1"></div>
    </div>
</div>

