/* You can add global styles to this file, and also import other style files */

/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */



/* @import "../node_modules/primeng/resources/primeng.css"; */
/* @import "../node_modules/primeng/resources/themes/saga-blue/theme.css"; */
/* @import "../node_modules/primeng/resources/primeng.min.css"; */

/**  Estilos generales */

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf");
}

body {
    /* background: radial-gradient(ellipse, #130D34, #060410); */
    background: linear-gradient( to right, #130D34, #060410 30%, #130D34 );
    margin:0px;
    padding:0px;
    font-family: "calibri";
}

a {
  color:#ddd
}

/** Titulo y subtitulo de las secciones del Home */
.title_section_home_page {
  color:#fff;
  font-size: 20px;
  font-weight: 800;
  font-family: arial;
}
.subtitle_section_home_page {
  font-size: 14px; color:#ccc
}
/** End section STYLE */



/** contenedor para scroll personalisado */
.contenedor_autoscroll {
  /*margin: 1rem auto;*/
  /* border: 1px solid #aaa; */
  height: auto;
  /* width:100%; */
  max-width: 100%;
  /* background: #f1f2f3; */
  overflow:auto;
  box-sizing: border-box;
  /* padding:0 1rem; */
  display:flex;

  /*Estilos estándar experimentales (Principalmente Firefox)*/
  /* scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0); */
  scrollbar-color:#fff;
  scrollbar-width: thin;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor_autoscroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor_autoscroll::-webkit-scrollbar:vertical {
  width:10px;
}

.contenedor_autoscroll::-webkit-scrollbar-button:increment,.contenedor_autoscroll::-webkit-scrollbar-button {
  display: none;
}

.contenedor_autoscroll::-webkit-scrollbar:horizontal {
  height: 5px;
}

.contenedor_autoscroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  /* border: 2px solid #f1f2f3; */
}

.contenedor_autoscroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
/*  fin del contenedor personalisado  */