/** Estilo para la capa que contiene al mensaje de texto ensima del carrucel de imagenes en el fondo */
.div_message_center_carroucel_message {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index:10;
    background:linear-gradient( 45deg, #130D34 1%, transparent 99%), linear-gradient(to top, #130D34, transparent 99%);;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Estilo para el titulo de la bienvenida */
.div_message_center_carroucel_message > div > h1 {
    margin:0px 0px 50px 80px;
    text-align:left;
    font-size:50px;
    font-weight: 900;
    font-family: arial;
}

/* Estilo para el mensaje de bienvenida */
.div_message_center_carroucel_message > div > h2 {
    margin:0px 80px 0px 80px;
    text-align:left;
    font-size:30px;
    font-weight: 600;
    font-family: arial;
}

/* Estilo para la capa que contiene a las productoras de cine */
.div_message_center_carroucel_productoras {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index:11;
    /* background:linear-gradient(to top, #130D34 1%, transparent 99%); */
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

/** Estilo para las productoras que mostramos en gufly */
.image_company_video {
    height: 120px;
    border-radius: 7px;
    margin:0px 15px 10px 15px;
    padding: 10px;
    background: #ddd;
}

/**  contenedor de compannias productoras que se ve con un scroll personalisado  */
.contenedor_autoscrollbar_customscrollbar {
    height: 140px;
    max-width: 100%;
    overflow:auto;
    position: relative;
}