<div class="container-fluid container_home_movies">

    <div class="row">
        <div class="col-12" style="margin-top:50px; padding:0px">
            <div style="position:relative">

                <div class="div_message_center_carroucel_message">
                    <div style="color:#ddd; text-align: center;">
                        <h1>Bienvenidos</h1>
                        <h2>Centenares de peliculas, series, reportages, programas de television y personas por descubrir. Exploralo Ahora.</h2>
                    </div>
                </div>

                <div class="div_message_center_carroucel_productoras">
                    <div class="contenedor_autoscrollbar_customscrollbar">
                        <img class="image_company_video" src="./assets/image/company/disney.png">
                        <img class="image_company_video" src="./assets/image/company/warnerbrother.png">
                        <img class="image_company_video" src="./assets/image/company/marvelestudios.png">
                        <img class="image_company_video" src="./assets/image/company/universal.png">
                        <img class="image_company_video" src="./assets/image/company/paramount.png">
                        <img class="image_company_video" src="./assets/image/company/pixar.png">
                        <img class="image_company_video" src="./assets/image/company/20thcenturyfox.png">
                    </div>
                </div>

                <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let item of alldestacados; let i=index" [ngClass]="getClass(i)">
                            <img src="https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces{{ item.data_tmdb.backdrop_path }}" class="d-block w-100">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<app-lastmovies></app-lastmovies>

<app-destacados [alldestacados]="alldestacados"></app-destacados>

<div class="container-fluid container_home_movies">
    <div class="row">
        <div class="col col-12" >
            <div style="color:#fff">
                <div class="title_section_home_page">
                    Peliculas
                </div>
                <div class="subtitle_section_home_page" style="font-size: 12px">
                    Explora centenares de películas y disfruta descargando tus géneros preferidos.
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="all_view_movie">
                <app-cardmovie *ngFor="let item of allmovies; let i=index" [item]="item"></app-cardmovie>
            </div>
        </div>
    </div>
</div>