<div class="container-fluid container_home_movies">

    <div class="row">
        <div class="col-12" style="padding:0px">
            <div style="position:relative">

                <div class="div_message_center_carroucel_message">
                    <div style="color:#ddd; text-align: center;">
                        <h1>Bienvenidos</h1>
                        <h2>Centenares de peliculas, series, reportages, programas de television y personas por descubrir. Exploralo Ahora.</h2>
                    </div>
                </div>

                <div class="div_message_center_carroucel_productoras">
                    <div class="contenedor_autoscroll">
                        <img class="image_company_video" src="./assets/image/disney.jpg">
                        <img class="image_company_video" src="./assets/image/prime.jpg">
                        <img class="image_company_video" src="./assets/image/hbo.jpg">
                        <img class="image_company_video" src="./assets/image/Netflix.jpg">
                    </div>
                </div>

                <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor="let item of alldestacados; let i=index" [ngClass]="getClass(i)">
                            <img src="https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces{{ item.data_tmdb.backdrop_path }}" class="d-block w-100">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<div class="container-fluid container_home_movies">
    <div class="row" style="padding:0px 10px" style="margin-top: 20px;">
        <div class="col col-12" >
            <div class="title_section_home_page">
                Añadidos recientemente
            </div>
            <div class="subtitle_section_home_page">
                Las ultimas peliculas que añadimos para usted
            </div>
        </div>
        <div class="col col-12">
            <div class="container_recomended_movies contenedor_autoscroll" style="margin-left:-10px; margin-bottom: 0px; background:transparent">
                <app-cardmovie *ngFor="let item of lastmovies" [item]="item"></app-cardmovie>
            </div>
        </div>
    </div>
</div>

<div class="container container_home_movies">
    <div class="row div_section_best_movies">   
        <div class="col col-4" >
            <h2 style="margin-top:50px; font:900 30px arial; color:#fff">Mejores Peliculas</h2>
            <div class="subtitle_section_home_page" style="margin-top:20px; font:400 18px calibri">
                Explora entre centenares de peliculas que recomendamos a nuestros usuarios
            </div>
            <div style="margin-top:30px">
                <button class="btn btn-primary" style="padding:5px 18px">Ver Todo</button>
            </div>
        </div>
        <div class="col col-8">
            <div class="container_recomended_movies contenedor_autoscroll" style="margin-bottom: 0px; background:transparent">
                <app-cardmovie *ngFor="let item of alldestacados" [item]="item"></app-cardmovie>
            </div>
        </div>
    </div>
</div>

<div class="container container_home_movies">
    <div class="row">
        <div class="col col-12" >
            <div style="color:#fff">
                <div class="title_section_home_page">
                    Peliculas
                </div>
                <div class="subtitle_section_home_page" style="font-size: 12px">
                    Explora centenares de películas y disfruta descargando tus géneros preferidos.
                </div>
            </div>
        </div>
        <div class="col col-12">
            <div class="all_view_movie">
                <app-cardmovie *ngFor="let item of allmovies; let i=index" [item]="item"></app-cardmovie>
            </div>
        </div>
    </div>
</div>